.description{
    display: flex;
    align-items: center;
    padding: 15px 10px 15px 10px;
}
.TaskContainer{
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.text{
    padding: 0 20px;
    font-family: Helvetica;
    word-break: break-all;
    font-weight: 400;
    transition: color, text-decoration 0.4s;
    line-height: 1.2;
}

.manipulation{
    display: flex;
}
.manipulation button{
    border: 0;
    background: transparent;
    outline: none;
    color: #cc9a9a;
    transition: color 0.2s ease-out;
    cursor: pointer;
    /* font-size: 19px34px; */
}
.manipulation button:hover{
    color: #a47b7b;
}
.delete{
    font-size: 34px;
}
.edit{
    font-size: 19px;
}
.timeInterval{
    width: 120px;
    padding: 12px;
    font-size: 13px;
    color: gray;
    font-family: Helvetica;
    line-height: 1.4em;
}