@font-face {
    font-family: Helvetica;
    src: url("public/fonts/HelveticaNeueCyr-LightItalic.otf");
}
@font-face {
    font-family: Helvetica italic;
    src: url("public/fonts/HelveticaNeueCyr-ThinItalic.otf");
}